<footer>

    <div id="footer-flex">

        <div>

            <a href="/index.html"><img src="/images/dark_logo_lockup_cutout.png" alt="Derek Lane Creative logo" id="footer-image"></a>

        </div>

        <div>

            <p>Email: <a href="mailto:contact@dereklanecreative.com">contact@dereklanecreative.com</a></p>
        
            <p><small>&copy; Copyright 2025. All Rights Reserved.</small></p>

        </div>

        <div class="social-links">

            <a href="https://www.facebook.com/dereklanecreative" target="_blank">
            <img class="social-image" src="/images/facebook-icon.png" alt="Link to Derek Lane Creative Facebook page">
            </a>
            <a href="https://www.youtube.com/@DerekLaneCreative" target="_blank">
            <img class="social-image" src="/images/youtube-icon.png" alt="Link to Derek Lane Creative Youtube page">
            </a>
            <a href="https://www.instagram.com/dereklanecreative/" target="_blank">
            <img class="social-image" src="/images/instagram-icon.png" alt="Link to Derek Lane Creative Instagram page">
            </a>

        </div>

    </div>

</footer>