<header class="site-header">

    <div id="header-flex">

        <a href="/index.html"><img src="/images/dark_logo_lockup.png" alt="Derek Lane Creative logo" id="header-image"></a>

        <nav>
            <ul class="main-nav">
                <li><a href="/index.html">Home</a></li>

                <li class="has-dropdown">
                    <a href="#" aria-haspopup="true" aria-expanded="false">Portfolio</a>
                    <ul class="dropdown">
                        <li><a href="/web-dev-and-ux.html">Web Dev and UX</a></li>
                        <li><a href="/graphic-design.html">Graphic Design</a></li>
                        <li><a href="/multimedia.html">Multimedia</a></li>
                    </ul>
                </li>

                <li><a href="/about.html">About</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>

    </div>

</header>